
#top {
    margin: 0px 0px 10px 0px;
    position: fixed;
    z-index: 1050;
    width: 100%;
    top: 0
}

#bottom {
    position: absolute;
    bottom:0;
    z-index: 1050;
    width: 100%;
    background-color: #67BC48;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    font-weight: bold;
}

#left {
    float: left;
    /*    background-color: #ece3a5;*/
    padding: 5px;
    width: 8.4%;
}

#right {
    float: right;
    /*    background-color: #ece3a5;*/
    padding: 5px;
    width: 8.4%;
}

.content {
    margin-top: 92px
}

.center_content {
    margin: 0px 9% 0px 9%;
    margin-top: 93px
}

.left_content {
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    margin: 0px 9% 0px 9%;
    margin-top: 92px
}

#top a:link, #top a:visited {
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}

.ui-panelgrid-cell{
    background-color: transparent !important;
}

@media only screen and (max-width:1366px) {
    /* For HD Notebooks: */
    #right {
        float: right;
        padding: 5px;
        width: 4%;
    }
    #left {
        float: left;
        padding: 5px;
        width: 4%;
    }
}

@media only screen and (max-width:1280px) {
    /* For Legacy Notebooks: */
    #left {
        width: 0%;
        padding: 0px;
        visibility: hidden;
    }
    
    #right {
        width: 0%;
        padding: 0px;
        visibility: hidden;
    }
    
    .center_content {
        margin: 0px 9% 0px 0px;
        width: 100%;
        margin-top: 93px
    }
}

@media only screen and (max-width:800px) {
    /* For tablets: */
 
}

@media only screen and (max-width:768px) {
    /* For Smartfones: */
    
    .center_content {
        margin: 0px 0px 0px 0px;
        width: 100%;
        margin-top: 132px
    }
}

@media only screen and (max-width:479px) {
    /* For Smartfones: */
    
    .center_content {
        margin: 0px 0px 0px 0px;
        width: 100%;
        margin-top: 172px
    }
}

@media only screen and (max-width:330px) {
    /* For Smartfones: */
    
    .center_content {
        margin: 0px 0px 0px 0px;
        width: 100%;
        margin-top: 210px
    }
}


