/* 
    Created on : 14/09/2018, 20:06:04
    Author     : Winder Rezende <windergt@gmail.com>
*/

html,body,div {
    margin: 0px;
    /*overflow: hidden;*/
    padding: 0px;
}

html {
    position: relative;
    min-height: 100%;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../img/back.png');
}

.divLogo{ 
    text-align: center;
    margin-top: 130px;   
}

.divLogin{ 
    margin-top: 5px;
}

.labelSistema{
    font-weight: normal;
    color: #ffffff;
    font-size: 30px;
}

.painel{
    margin-left: auto; 
    margin-right: auto;  
    height: auto; 
    width: 320px; 
    position: relative;
}

.btnLogin{
    margin-top: 2px;
    width: 145px
}

.divAlterarSenha{
    text-align: center;
    margin-top: 8px;
}

.alterarSenha{
    text-align: center;
    color: white;
}

.img{
    width: 75%;
    margin-top: 30%;
    margin-bottom: 5%;
}

i.imagem-busca {
    color: white;
    position: absolute;
    margin-left: 722px;
    margin-top: 8px;
    background-color: #67BC48;
    padding: 4px;
    font-size: 19px;
}

body .ui-panelgrid .ui-panelgrid-cell {
    border: none !important;
}
.botaoCancelar {
    font-weight: bold;
    margin-top: 11px !important;
    color: black !important;
    background-color: #EC961C !important
}
.botaoGravar {
    font-weight: bold;
    margin-top: 10px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    color: black !important;
    background-color: #419641 !important; 
}
.botaoExcluir {
    font-weight: bold;
    margin-top: 10px !important;
    color: black !important;
    background-color: #C73834 !important;
}
.botaoInserir {
    margin-left: 15px;
    background-color: #007bff !important;
    background: linear-gradient(#00C5FF, #0095E1)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00C5FF', endColorstr='#0095E1')!important;
    border-width: 1px;
    border-style: solid;
    border-color: #09A1E0;
    border-radius: 4px;
    color: #ffffff !important;
    cursor: pointer;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    height: 32px;
    width: 100px;
}
.carousel-imagem {
    max-width: 500px;
    max-height:240px;
    min-width: 500px;
    min-height:240px;
    width: auto;
    height: auto;
}
.imagens-vitrine {
    max-width: 380px;
    max-height:250px;
    min-width: 266px;
    min-height:250px;
    width: auto;
    height: auto;
}
.imagens-detalhe {
    max-width: 494px;
    max-height:325px;
    min-width: 494px;
    min-height:325px;
    width: auto;
    height: auto;
}
.icon-vitrine {
    margin:0 auto; 
    font-size: 22px;
}

.alertaNenhumCadastro {
    font-size: 30px !important;
    color: ghostwhite;
    font-family: arial;
}

#gridImg {
    height: 180px;
}

@media only screen and (max-width:1369px) {
    /* For HD Notebooks: */
    .imagens-vitrine {
        max-width: 300px;
        max-height:197px;
        min-width: 200px;
        min-height:180px;
        width: auto;
        height: auto;
    }

    .imagens-detalhe {
        max-width: 380px;
        max-height:250px;
        min-width: 266px;
        min-height:250px;
        width: auto;
        height: auto;
    }
}

@media only screen and (max-width:800px) {
    .imagens-vitrine {
        max-width: 250px;
        max-height:164px;
        min-width: 150px;
        min-height:120px;
        width: auto;
        height: auto;
    }
}

@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .imagens-vitrine {
        max-width: 200px;
        max-height:130px;
        min-width: 100px;
        min-height:60px;
        width: auto;
        height: auto;
    }
}