/* 
    Created on : 14/09/2018, 20:06:04
    Author     : Winder Rezende <windergt@gmail.com>
*/

html,body,div {
    margin: 0px;
    /*overflow: hidden;*/
    padding: 0px;
}

html {
    position: relative;
    min-height: 100%;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../img/back.png');
}

.divLogo{ 
    text-align: center;
    margin-top: 130px;   
}

.divLogin{ 
    margin-top: 5px;
}

.labelSistema{
    font-weight: normal;
    color: #ffffff;
    font-size: 30px;
}

.painel{
    margin-left: auto; 
    margin-right: auto;  
    height: auto; 
    width: 320px; 
    position: relative;
}

.btnLogin{
    margin-top: 2px;
    width: 145px
}

.divAlterarSenha{
    text-align: center;
    margin-top: 8px;
}

.alterarSenha{
    text-align: center;
    color: white;
}

.img{
    width: 75%;
    margin-top: 30%;
    margin-bottom: 5%;
}

i.imagem-busca {
    color: white;
    position: absolute;
    margin-left: 722px;
    margin-top: 8px;
    background-color: #67BC48;
    padding: 4px;
    font-size: 19px;
}

body .ui-panelgrid .ui-panelgrid-cell {
    border: none !important;
}
.botaoCancelar {
    font-weight: bold;
    margin-top: 11px !important;
    color: white !important;
    background-color: #EC961C !important
        border-color: #EC961C !important;
}
.botaoGravar {
    font-weight: bold;
    margin-top: 10px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    color: white !important;
    background-color: #419641 !important;
    border-color: #419641 !important;
}
.botaoExcluir {
    font-weight: bold;
    margin-top: 10px !important;
    color: white !important;
    background-color: #C73834 !important;
    border-color: #C73834 !important;
}
.botaoInserir {
    margin-left: 15px;
    background-color: #007bff !important;
    background: linear-gradient(#00C5FF, #0095E1)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00C5FF', endColorstr='#0095E1')!important;
    border-width: 1px;
    border-style: solid;
    border-color: #09A1E0;
    border-radius: 4px;
    color: #ffffff !important;
    cursor: pointer;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    height: 32px;
    width: 100px;
}

.botaoAddCesta {
    font-weight: bold;
    color: white !important;
    background-color: #419641 !important;
    border-color: #419641 !important;
    width: 100%;
    height: 40px;
}

.botaoDetalhe {
    font-weight: bold;
    color: white !important;
    width: 100%;
    height: 40px
}

.botaoFechar {
    font-weight: bold;
    color: white !important;
    background-color: #C73834 !important;
    border-color: #C73834 !important;
    width: 100%;
    height: 40px
}

.responsive {
    width: 100% !important;
    height: auto !important;
}

.carousel-imagem {
    width: 100% !important;
    max-width: 380px !important;
    height: auto !important;
}
.imagens-vitrine {
    width: 100% !important;
    max-width: 380px !important;
    height: auto !important;
}
.imagens-detalhe {
    width: 100% !important;
    max-width: 380px !important;
    height: auto !important;
}
.icon-vitrine {
    margin:0 auto; 
    font-size: 22px;
}
.icon-fechar-vitrine {
    margin:0 auto; 
    font-size: 25px;
    color: red;
    margin-bottom: 2px;
}
.alertaNenhumCadastro {
    font-size: 30px !important;
    color: ghostwhite;
    font-family: arial;
}

#gridImg {
    height: 180px;
}

#dataTableFooter{
    text-align: right !important;
}

.btnWizarProximo{
    margin-top: 10px !important;
    float: right
}

.btnWizarVoltar{
    margin-top: 10px !important;
}

.carouselNome{
    font-weight: bold;
    font-size: 22px
}

.carouselPreco{
    font-weight: bold;
    font-size: 16px
}

.ui-button-text-only .ui-button-text {
    padding: .1em .5em;
}

@media only screen and (max-width:1369px) {
    /* For HD Notebooks: */

}

@media only screen and (max-width:1290px) {

    i.imagem-busca {
        margin-left: 572px;
    }
}

@media only screen and (max-width:800px) {

    i.imagem-busca {
        margin-left: 472px;
    }

    .botaoAddCesta {
        font-size: 75% !important;
    }

    .botaoDetalhe {
        font-size: 75% !important
    }

    .botaoFechar {
        font-size: 75% !important
    }
}

@media only screen and (max-width:600px) {

    i.imagem-busca {
        margin-left: 472px;
    }

    .botaoAddCesta {
        font-size: 60% !important;
    }

    .botaoDetalhe {
        font-size: 60% !important
    }

    .botaoFechar {
        font-size: 60% !important
    }
}

@media only screen and (max-width:550px) {
    /* For mobile phones: */

    i.imagem-busca {
        margin-left: 272px;
    }

    .botaoAddCesta {
        font-size: 100% !important;
    }

    .botaoDetalhe {
        font-size: 100% !important
    }

    .botaoFechar {
        font-size: 100% !important
    }
}